{% extends 'base.html.twig' %}

{% block title %}Our partner{% endblock %}

{% block body %}
<h1 class="text-center">Our partner</h1>
    <a href="https://www.sony.net/"><img style="width: 200px; height: 200px;" src="images/sony.jpg" alt="sony"> </a>
    <a href="https://www.nintendo.co.jp/"><img style="width: 200px; height: 200px;" src="images/nintendo.png" alt="nintando"> </a>

{% endblock %}
